*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background:#efe7d1;

}

h1{
    text-align:center;
    color:#fff7e6;
    background-color: #b52a00;
padding: 1em;


    font-size:2rem;

}

img{
        width:100%;
    max-width:1000px;

    height:13em;
    object-fit:cover;

    display:block;
    margin:0 auto 50px auto;

    border-radius:0 0 35px 35px;
}

div{
    background:#79a6c7;
    /* rgb(5, 42, 60) */
    max-width:1000px;
    margin:25px auto;
    padding:35px;
    border-radius:30px;
}

h2{
    color:#fff7e6;
    margin-bottom:20px;
    font-size:1.6rem;
}

/* ===== BUTTONS ===== */
a{
    display:inline-block;
    text-decoration:none;
    background:#efe7d1;
    color:#b52a00;
    padding:14px 22px;
    border-radius:12px;
    font-weight:bold;
    margin-right:1em;
    margin-top:1em;
}

a:hover{
    background:#b52a00;
color: #efe7d1;

}


@media(max-width:768px){

    h1{
        font-size:2.5rem;
    }

    h2{
        font-size:1.2rem;
    }

    a{
        display:block;
        width:100%;
        text-align:center;
    }
}






