
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  footer {
    font-family: Arial, sans-serif;
  }
  
  .footer-top {
    background-color: #FDF1D7;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
  }
  
  .footer-top h4 {
    font-size: 34px;
  }
  
  .footer-top p {
    max-width: 500px;
    font-size: 20px;
    line-height: 1.5;
  }
  
 
  .email {
    display: flex;
    gap: 10px;
    flex-direction: column;

  }
  
  .email input {
    padding: 14px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
  }
  
  .email button {
    padding: 12px 16px;
    border: none;
    background: #06344B;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
  }
  
  .email button:hover {
    background: #333;
  }
  

  .footer-bottom {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  
  .links {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
  }
  
  .links a {
    text-decoration: none;
    color: black;
    font-size: 20px;
  }
  
  .links a:hover {
    color: #007bff;
  }
  

  .footer-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }
  

  .logo {
    height:90px;
  }
  

  .socials {
    display: flex;
    gap: 20px;
  }
  
  .socials img {
    height: 55px;
    width: 55px;
  }
  

  .contact {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }
  
  .contact a {
    text-decoration: none;
    color: black;
  }
  
  .contact a:hover {
    color: #007bff;
  }
  
  .footer-info {
    flex-direction: column;
    text-align: center;
  } 



  @media (min-width: 40em) {
    .footer-top {
      gap: 50px;
    }
    .footer-top h4 {
      font-size: 48px;
    }
  
    .footer-top p {
      font-size: 24px;
      max-width: 700px;
    }

    .email {
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  
    .email input {
      width: 400px;
      padding: 18px;
      font-size: 20px;
    }
  
    .email button {
      padding: 18px 30px;
      font-size: 20px;
    }

    .links {
      gap: 35px;
    }
  
    .links a {
      font-size: 24px;
    }
  
    .footer-info {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      text-align: left;
    }
  
    .logo {
      height: 120px;
    }
  
    .socials {
      gap: 30px;
    }
  
    .socials img {
      width: 70px;
      height: 70px;
    }
  
    .contact {
      flex-direction: row;
      gap: 40px;
    }
  
    .contact a {
      font-size: 24px;
    }
  } 
