@font-face {
    font-family: "YoungSerif";
    src: url(./font/YoungSerif-Regular.ttf);
}

:root {
	--primary-color: #171914;
	--bg-color: #AF2A01;
	--font-color: #FDF1D7;
}

body {
	box-sizing: border-box;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-family: "YoungSerif", Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 6em;
}

h2 {
	font-size: 5em;
}

h3 {
	font-size: 4em;
}

h4 {
	font-size: 3em;
}

h5 {
	font-size: 2em;
}

h6 {
	font-size: 1.5em;
}

p {
	font-family: Inter, arial, sans-serif;
}

button {
	display: block;
	text-align: center;
	border: none;
	color: var(--primary-color);
	outline: 2px var(--primary-color) solid;
	border-radius: 5px;
	padding: 10px 25px;
	margin: 10px 0;
	background: transparent;
	font-size: 1em;
	:hover {
		cursor: pointer;
	}
}