---
// import AccessibilityMenu from "../components/AccessibilityMenu.astro"
// import Header from "../components/Header.astro"
// import Footer from "../components/Footer.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Home Page">
	<h1>Hello</h1>
	<h2>Hello</h2>
	<h3>HI</h3>
	<h4>Hello</h4>
	<h5>Hello</h5>
	<h6>Hello</h6>
	<p>Hello this is a line of text!</p>
	<button>this is a button</button>
</Layout>
