@font-face {
    font-family: "YoungSerif";
    src: url(../fonts/YoungSerif-Regular.ttf);
}

body {
	box-sizing: border-box;
    background-color: #FDF1D7;
    color: #AF2900;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1.5em;
}

header {
	background-color: #b52a00;
	margin: 0;
	padding: 30px;
	> ul {
		margin: 0;
		padding: 0;
		display: flex;
		list-style: none;
	}
}

li > a {
	color: #FDF1D7;
	padding: 0 10px;
}

section {
    padding-inline: 4em;
    padding-top: 1.5em;
    padding-bottom: 4em;
}

h1 {
    font-family: "YoungSerif";
	text-align: center;
}

h2 {
    text-align: left;
    margin-bottom: 0em;
    font-family: "Arial";
    font-size: 1.5em;
    letter-spacing: 0.02em;
    margin-bottom: 0;
	color: #FDF1D7;
}

a {
	text-decoration: none;
}

p {
	font-family: Arial, Helvetica, sans-serif;
}

main {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

article {
	width: 80ch;
}

div {
    background:#79a6c7;
    max-width:1000px;
    margin:25px auto;
    padding:35px;
    border-radius:30px;
}

.center {
	text-align: center;
}

.normal {
	width: 70ch;
}